$fontSize: 1.1em;
$headerHeigh: 60px;
$headerWeight: 120px;

.header {
  display: flex;
  height: $headerHeigh;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  > * {
    align-self: center;
  }
  > .logo {
    justify-items: center;
  }

  // below are navegator outlook style
  > .nav {
    flex: 1;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    color: #ecf0f1;
    font-size: $fontSize;
    > ul {
      width: 50%;
      list-style-type: none;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(1fr);
      > li {
        display: inline-block;
        height: $headerHeigh;
        line-height: $headerHeigh;
        cursor: pointer;
        &:hover {
          background-image: linear-gradient(to right, #1e272e, black, #1e272e);
          box-shadow: inset 2px 2px 20px #1e272e;
          // font-weight: bolder;
        }
      }
    }
    > .more {
      z-index: 10;
      color: #ecf0f1;
      align-self: center;
      font-weight: bolder;
      cursor: default;
      width: $headerWeight;
      height: $headerHeigh;
      text-align: center;
      line-height: $headerHeigh;
      position: relative;
      > span {
        width: 100%;
        height: 100%;
        display: block;
      }
      > .items {
        display: none;
        background-color: black;
        border-top: 1px black solid;
        width: $headerWeight;
        top: $headerHeigh;
        position: absolute;
        > ul {
          margin: 0;
          display: flex;
          flex-flow: column nowrap;
          padding: 0;
          box-shadow: inset 1px 1px 5px black;
          width: 100%;
          > li {
            margin: 1px;
            padding: 0;
            width: 100%;
            border-bottom: 1px black solid;
            color: #ecf0f1;
            cursor: pointer;
            background-image: linear-gradient(
              to bottom,
              #34495e,
              #2c3e50,
              #34495e
            );
          }
          list-style: none;
        }
      }
      &:hover {
        background-color: #34495e;
        box-shadow: inset 1px 1px 5px black;
      }
      &:hover > div {
        display: block;
      }
    }
  }
}
.humbeger {
  z-index: 10;
  position: absolute;
  right: 20px;
  width: 50px;
  height: $headerHeigh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  > .humbegerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    cursor: pointer;
    > div {
      width: 60%;
      border: 1px white solid;
      margin: 10% 10%;
    }
  }
  & > div:last-child {
    // transform: translateX(1000px);
    display: none;
    position: absolute;
    top: $headerHeigh;
    background-color: black;
    > ul {
      height: 400px;
      padding: 25% 10%;
      list-style-type: none;
      display: flex;
      color: white;
      flex-flow: column nowrap;
      justify-content: space-around;
      > li {
        padding: 10% 0;
        font-size: $fontSize;
        cursor: pointer;
        &:hover {
          background-image: linear-gradient(to right, red, white, blue);
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
