#navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#navbar > ul {
  list-style-type: none;
}
#navbar > ul > li {
  display: inline-block;
  margin: 0 2em;
  font-size: 1.1em;
}

#navbar-contact {
  margin: 0 3%;
  align-self: center;
  font-weight: bolder;
  cursor: default;
}

#navbar-contact-hidden-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 110px;
  transform: translateX(-5px);
  z-index: 3;
}
#navbar-contact-hidden-content > ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 0;
  list-style-type: none;
  padding: 0;
}
#navbar-contact-hidden-content > ul > li {
  margin: 5px;
}
#navbar-contact-hidden-content > ul > li :nth-child(1) {
  grid-row: 1/2;
}
#navbar-contact-hidden-content > ul > li :nth-child(2) {
  grid-row: 2/3;
}
#navbar-contact-hidden-content > ul > li :nth-child(3) {
  grid-row: 3/4;
}
#navbar-contact-hidden-content > ul > li :nth-child(4) {
  grid-row: 4/5;
  border: red 1px solid;
}

/* amination */

#navbar > ul > li:hover {
  transform: translateY(-4px);
  font-weight: bold;
  cursor: pointer;
}
#navbar-contact:hover #navbar-contact-hidden-content {
  display: block;
}
#navbar-contact-hidden-content > ul > li:hover {
  cursor: pointer;
}

/* humbeger style */

#navbar-humbeger {
  display: flex;
  width: 100%;
  justify-content: end;
}

#navbar-humbeger > div {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 1%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.navbar-humbeger-border {
  width: 60%;
  border: 1px white solid;
  margin: 10% 10%;
}
#navbar-humbeger-hidden-content {
  position: fixed;
  display: flex;
  top: 16.5em;
  right: 2em;
  justify-content: center;
  align-items: center;
  transform: translateX(300px);
  z-index: 3;
}
#navbar-humbeger-hidden-content > ul {
  display: block;
  list-style-type: none;
  background-color: black;
  padding: 0;
}
#navbar-humbeger-hidden-content > ul > li {
  padding: 1em 2em;
  color: white;
  text-align: start;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}

/* amination */

#navbar-humbeger:hover #navbar-humbeger-hidden-content {
  transform: translateX(0px);
  transition-duration: 0.5s;
}
