@import "../../style/libiary";
.container {
  display: flex;
  background-color: #f5f6fa;
  flex-flow: column nowrap;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    height: 200px;
    background-color: #f5f6fa;
  }

  &::after {
    content: "";
    display: block;
    height: 200px;
    background-color: #f5f6fa;
  }
  > div:first-child {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      width: 75%;
      height: 80%;
      text-align: center;
      font-size: 1.5em;
      > h6 {
        font-weight: lighter;
        margin-bottom: 0;
        font-size: $sectionDesFontSize;
      }
      > h2 {
        margin-top: 0;
        font-size: $sectionTitleFontSize;
      }
    }
  }
  > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    > section {
      margin: 0 70px;
      width: 260px;
      height: 260px;
      > div:nth-child(1) {
        display: block;
        position: relative;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: linear-gradient(#be2edd, purple);
        margin: 0 auto;
        transform: translateY(20%);
      }
      > div:nth-last-child(1) {
        display: block;
        text-align: center;
        margin-top: 20%;
        font-weight: bolder;
        font-size: 2em;
        color: green;
      }
    }
  }
  > div:last-child {
    flex: 1;
    > div {
      position: relative;
      width: 60%;
      height: 440px;
      margin: 30px auto;
      border-radius: 3em/3em;
      background: linear-gradient(#e056fd, #be2edd, purple);
      > * {
        color: #eeffec;
      }
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 3em/3em;
        opacity: 0.1;
      }
      > div:first-of-type {
        text-align: center;
        font-weight: 700;
        font-size: 2em;
        margin: 5%;
        line-height: 80px;
      }
      > div:nth-of-type(2) {
        text-align: center;
        font-weight: 400;
        font-size: 1.4em;
        width: 70%;
        margin: 2% auto;
      }
      > div:nth-of-type(3) {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        > img {
          object-fit: cover;
          z-index: 2;
        }
      }
      > div:nth-of-type(4) {
        text-align: center;
        margin: 3% auto;
      }
    }
  }
}
/* below are object show in icon */
