#introduce {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: black;
}

#introduce > * {
  width: 600px;
  height: 500px;
  margin: 5% 0;
  color: #eefcf6;
}

/* words 1 decoration */

#introduce-word1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
#introduce-word1 > * {
  width: 100%;
  margin: 0;
  padding-left: 20%;
  font-weight: bold;
}
#introduce-word1 > h4 {
  font-weight: normal;
  font-size: 2em;
}
#introduce-word1 > h1 {
  font-size: 3em;
}
#introduce-word1 > h6 {
  font-size: 1.5em;
  line-height: 1.2em;
}

/* some decoration */
#introduce-word1 > h4::before {
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  background-color: purple;
  position: relative;
  top: 20%;
  border-radius: 20% 20% 50% 50%;
  box-shadow: 30px 30px purple;
  filter: blur(80px);
}

#introduce-word1 > h6::after {
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 40%;
  bottom: 40%;
  filter: blur(80px);
  box-shadow: 30px 30px green;
  border-radius: 20% 50% 50% 50%;
}

#introduce-image1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#introduce-image1 {
  position: relative;
}
#introduce-image1:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset 40px 40px 50px black;
}
#introduce-image1:before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset -40px -40px 50px black;
}

#introduce-image2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#introduce-word2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

#introduce-word2 > * {
  padding: 0 5%;
  margin: 0;
  font-size: 1.8em;
}

#introduce-word2-celebrity {
  transform: translateX(50%);
}
