.container {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: black;
  background-size: cover;
  > * {
    width: 600px;
    height: 500px;
    margin: 1% 0;
    color: #eefcf6;
  }
  > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    transform: translateX(-10%);
    > * {
      width: 100%;
      margin: 0;
      padding-left: 20%;
      font-weight: bold;
    }
    > h1 {
      font-size: 3em;
    }
    > h4 {
      font-weight: normal;
      font-size: 2em;
      &::before {
        display: block;
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        background-color: purple;
        top: 10%;
        filter: blur(80px);
        box-shadow: 30px 30px purple;
        border-radius: 20% 20% 50% 50%;
        animation: 20s purple_spot infinite alternate;
      }
    }
    > h6 {
      font-size: 1.5em;
      line-height: 1.2em;
      &::before {
        display: block;
        content: "";
        width: 100px;
        height: 100px;
        background-color: green;
        position: absolute;
        right: 20%;
        top: 60%;
        filter: blur(80px);
        box-shadow: 30px 30px green;
        border-radius: 20% 50% 50% 50%;
        animation: 10s green_spot infinite alternate;
      }
    }
  }
  > div:nth-child(2) {
    position: relative;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  > div:nth-child(3) {
    width: 80%;
    height: 700px;
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    > * {
      padding: 0 5%;
      margin: 0;
      font-size: 1.8em;
      background-image: linear-gradient(to right, purple, green);
      background-clip: text;
      color: transparent;
    }
    > h6:last-child {
      transform: translateX(50%);
    }
  }
}

@keyframes green_spot {
  from {
    transform: scale(1) translate(0);
  }

  to {
    transform: scale(1.5) translate(-120px, -80px);
  }
}
@keyframes purple_spot {
  from {
    transform: scale(1) translate(0);
  }
  50% {
    transform: scale(0.5) translate(0);
  }

  to {
    transform: scale(1.5) translate(220px, 220px);
  }
}
